<h2>Logs</h2>
<hr>
<div class="example-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-2 w-full max-w-lg mx-auto">
        <div formGroupName="rangoFechas" class="flex flex-col gap-4">
      
          <mat-form-field [floatLabel]="floatLabel()" class="w-full">
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="from">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="form.get('rangoFechas.from')?.hasError('required')">
              La fecha desde es obligatoria
            </mat-error>
          </mat-form-field>
      
          <mat-form-field [floatLabel]="floatLabel()" class="w-full">
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="to">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="form.get('rangoFechas.to')?.hasError('required')">
              La fecha hasta es obligatoria
            </mat-error>
          </mat-form-field>
      
          <mat-error *ngIf="form.get('rangoFechas')?.hasError('rangoInvalido')">
            La fecha "Desde" no puede ser mayor que la fecha "Hasta".
          </mat-error>
      
          <button mat-fab extended type="submit" class="w-100 d-block m-auto mb-4 mt-4">Enviar</button>
      
        </div>
      </form>      
</div>
<hr class="mb-5">

<div class="loader-container" *ngIf="loader">
  <mat-progress-spinner mode="indeterminate" color="accent" class="m-auto d-block"></mat-progress-spinner>
  <p>Cargando datos...</p>
</div>

<div class="row p-2 m-0" *ngIf="show">
  <div class="col-6 p-0" >
      <mat-form-field [floatLabel]="floatLabel()" class="w-full mb-4">
          <mat-label>Buscar Username</mat-label>
          <input matInput placeholder="Buscar registros por username" (keyup)="applyFilter($event)" class="mb-4" />    
      </mat-form-field>
      
  </div>
  <div class="col-6 text-end">
      <p>
          <b>Desde: </b>{{from}}
          <br>
          <b>Hasta: </b>{{to}}
      </p>
  </div>
</div>

<div class="p-2">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let log">{{ log.id }}</td>
      </ng-container>
    
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let log">{{ log.username }}</td>
      </ng-container>
    
      <ng-container matColumnDef="request_timestamp">
        <th mat-header-cell *matHeaderCellDef>Fecha/Hora</th>
        <td mat-cell *matCellDef="let log">{{ log.request_timestamp }}</td>
      </ng-container>
    
      <ng-container matColumnDef="num_countries_returned">
        <th mat-header-cell *matHeaderCellDef># Paises</th>
        <td mat-cell *matCellDef="let log">{{ log.num_countries_returned }}</td>
      </ng-container>
    
      <ng-container matColumnDef="countries_details">
        <th mat-header-cell *matHeaderCellDef>Datos</th>
        <td mat-cell *matCellDef="let log"><pre>{{ log.countries_details | stringToJson | json }}</pre></td>
      </ng-container>  
      
      <!-- Actualizar -->
      <ng-container matColumnDef="actualizar">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let log">
          <button mat-icon-button color="primary" (click)="actualizarLog(log)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let log">
          <button mat-icon-button color="warn" (click)="eliminarLog(log)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>